lsd_slam_stereo_core/bin/
lsd_slam_stereo_core/build/
lsd_slam_stereo_core/cfg/cpp/
lsd_slam_stereo_core/docs/
lsd_slam_stereo_core/lib/
lsd_slam_stereo_core/src/lsd_slam_stereo_core/
lsd_slam_stereo_core/.cproject
lsd_slam_stereo_core/.project
lsd_slam_stereo_core/.pydevproject
lsd_slam_stereo_core/thirdparty/Sophus/CMakeFiles/
lsd_slam_stereo_core/thirdparty/Sophus/Makefile
lsd_slam_stereo_core/thirdparty/Sophus/SophusConfig.cmake
lsd_slam_stereo_core/thirdparty/openFabMap/CMakeFiles/
lsd_slam_stereo_core/thirdparty/openFabMap/Makefile

lsd_slam_stereo_viewer/bin/
lsd_slam_stereo_viewer/build/
lsd_slam_stereo_viewer/cfg/cpp/
lsd_slam_stereo_viewer/docs/
lsd_slam_stereo_viewer/msg_gen/
lsd_slam_stereo_viewer/src/lsd_slam_stereo_viewer/
lsd_slam_stereo_viewer/.cproject
lsd_slam_stereo_viewer/.project
lsd_slam_stereo_viewer/.pydevproject
lsd_slam_stereo_viewer/thirdparty/Sophus/CMakeFiles/
lsd_slam_stereo_viewer/thirdparty/Sophus/Makefile
lsd_slam_stereo_viewer/thirdparty/Sophus/SophusConfig.cmake

cmake_install.cmake
*.cfgc

git_push.sh
